src/main/mule/assignment1-22th-feb-2021.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b911f273-a2ef-4018-be78-e79f06859af8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignment1-22th-feb-2021Flow" doc:id="e9de088d-6c44-46fb-8e1b-d5a40a17cf26" >
		<http:listener doc:name="Listener" doc:id="5cad27fa-c94c-415c-9f12-b886c4084bb6" config-ref="HTTP_Listener_config" path="/assign1" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="7a1c5ec2-d2f0-4ad6-a86a-48bd3cdcb23b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome! " ++ payload.firstName ++ " " ++ payload.lastname ++ ". Your customer id is " ++ payload.cid ++ "."]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
